.example {
    overflow: scroll;
    background-image: linear-gradient(10deg, #505050 30%, #2c515f 100%);
    /* background-color: red; */
  }
  
  .example::-webkit-scrollbar {
    display: none;
  }

  .img{
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  }


  .animate-spin-slow {
    animation: spin 1.5s linear infinite;
  }
  

  .container_shadow{
    box-shadow: 1px 0px 2px 0px #2c515f;
  }
  